.footer {
  height: 60px;
  border-top: 1px solid #e1e3df;
  text-align: center;
  padding: 20px 0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links li a img {
  width: 24px;
}

.footer-links li {
  margin: 15px;
}
