.product-show-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 50% 50%;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  min-width: 500px;
  min-height: 500px;
}

.product-info {
  margin-right: 10%;
}

.product-show-price {
  font-size: 24px;
}

.product-description {
  line-height: 24px;
}

.product-detail-list,
.product-detail-list li {
  margin: 20px 0;
}

.product-extras {
  border-top: 1px solid #e1e3df;
  margin-top: 20px;
  background: #f5f5f1;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.comments-section {
  margin: 20px 130px;
  max-width: 50%;
}

.comment-body {
  width: 275px;
  height: 60px;
  border: 1px solid #ced3ca;
  border-radius: 3px;
  resize: none;
  padding: 5px;
}

.add-comment-btn {
  margin: 10px 0;
  width: 120px;
  border: 1px solid #e1e3df;
  background: #fff;
}

.add-comment-btn:hover {
  cursor: pointer;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-list-item {
  background: #fff;
  height: 100px;
  width: 275px;
  margin: 10px 0;
  border: 1px solid #e1e3df;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-list-item button {
  margin-bottom: 5px;
  font-size: 12px;
}

.comment-btns {
  margin: 10px 0;
}

.comment-details {
  margin-top: 10px;
  margin-left: 10px;
}

.author-name {
  font-size: 16px;
  font-weight: bold;
}

.comment-show-body {
  resize: none;
  border: none;
  margin: 10px;
}

.auth-msg {
  color: red;
}

.user-products {
  margin: 20px 40px;
}

@media only screen and (max-width: 800px) {
  .product-image {
    width: 100%;
  }

  .product-image img {
    min-width: auto;
    min-height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .cart-msg {
    padding: 30px 20px; 
    font-size: 16px;
  }

  .keep-shopping-btn {
    margin: 20px;
  }
  .product-show-container {
    grid-template-columns: 100%;
  }

  .product-image img {
    height: 90%;
  }

  .product-image {
    height: 400px;
  }

  .product-info {
    margin: auto;
    padding: 0 20px;
  }

  .product-title {
    font-size: 28px;
  }

  .product-extras {
    grid-template-columns: 100%;
  }

  .comments-section {
    margin: auto;
    max-width: 100%;
  }

  .comment-form-container {
    margin-top: 10px
  }



}
